<!-- Start >> Navbar -->
<nav id="navbar" class="navbar navbar-expand-lg mb-0 px-2 bg-app">
  <div class="container">
    <!-- Start >> Navbar items -->
    <ul class="navbar-nav">

      <li class="nav-item icon-center">
        <!-- Logo App -->

        <!-- IMG -->
        <!-- <img class="user user-chip-md mr-2" src="" alt="you logo" /> -->

        <!-- SVG -->
        <svg class="svgColor user user-chip-md mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85 96">
          <g id="Capa_2" data-name="Capa 2">
            <g id="Layer_1" data-name="Layer 1">
              <rect class="cls-1" x="38.66" y="60.86" width="2.08" height="3.84" rx="0.29" />
              <rect class="cls-1" x="44.72" y="60.86" width="2.08" height="3.84" rx="0.29" />
              <rect class="cls-1" x="29.06" y="44.15" width="5.5" height="5.49" rx="1.48" />
              <path class="cls-1"
                d="M81.8,21.6,45.66.85a6.47,6.47,0,0,0-6.4,0L3.18,21.73A6.37,6.37,0,0,0,0,27.26V68.87a6.43,6.43,0,0,0,3.27,5.54L39.41,95.14a6.37,6.37,0,0,0,6.4,0L81.89,74.28A6.42,6.42,0,0,0,85,68.73V27.12A6.37,6.37,0,0,0,81.8,21.6ZM66.18,39v9.46a2,2,0,0,1-1,1.8c-3.36,2.35-6.66,4.77-9.95,7.08a1.67,1.67,0,0,0-.77,2.08c.85,3.44,1.59,6.89,2.46,10.33a2.41,2.41,0,0,1-.33,2c-1.64,2.58-3.23,5.18-4.82,7.8-.37.59-.46.8-1,.8-1.36,0-4.91,0-8.28,0,0,0-6.92,0-8.28,0-.57,0-.66-.21-1-.8-1.59-2.62-3.18-5.22-4.82-7.8a2.41,2.41,0,0,1-.33-2c.87-3.44,1.61-6.89,2.46-10.33a1.67,1.67,0,0,0-.77-2.08c-3.29-2.31-6.59-4.73-9.95-7.08a2,2,0,0,1-1-1.8V39a1.7,1.7,0,0,1,.84-1.59q5.3-3.53,10.51-7.15a1.32,1.32,0,0,1,1.47-.2s8.22,2.91,10.4,3.48a2.07,2.07,0,0,0,.46,0h0a2.07,2.07,0,0,0,.46,0c2.18-.57,10.4-3.48,10.4-3.48a1.32,1.32,0,0,1,1.47.2q5.22,3.61,10.51,7.15A1.7,1.7,0,0,1,66.18,39Z" />
              <rect class="cls-1" x="51.17" y="44.15" width="5.5" height="5.49" rx="1.48" />
            </g>
          </g>
        </svg>

        <!-- Title app -->
        <h5 class="p-0 m-0 ms-2 fw-bold">{{title}}</h5>

      </li>
    </ul>
    <div class="ms-auto">
      <ul class="navbar-nav">
        <ul class="navbar-nav">

          <li class="nav-item d-none d-lg-block">
            <a class="nav-link active mx-3" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item d-none d-lg-block">
            <a class="nav-link mx-3" href="#">Product</a>
          </li>

          <li class="nav-item dropdown d-none d-lg-block">
            <a class="nav-link dropdown-toggle mx-3" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Documentation
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div class="px-2">
                <h5 class="dropdown-header fw-bold">Get started</h5>
                <a class="dropdown-item" href="javascript:void(0);">Installation</a>
                <a class="dropdown-item" href="javascript:void(0);">Plugins</a>
                <a class="dropdown-item" href="javascript:void(0);">Code samples</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0);">
                  <span><i class="bi bi-credit-card-2-back-fill text-primary"></i></span>
                  <span class="ms-2">Set up payments</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0);">
                  <span><i class="bi bi-gear-fill text-info"></i></span>
                  <span class="ms-2">Full API Reference </span>
                </a>
              </div>
            </div>
          </li>

          <li class="nav-item d-none d-lg-block">
            <a class="nav-link mx-3" href="#">Contact</a>
          </li>

          <!-- Registred -->
          <li class="nav-item dropdown" >
            <a class="img-user" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="./assets/images/avatars/avatar-01.svg" class="user user-chip-md bg-default" alt="user-image">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
              <div class="row p-2 d-flex align-items-center" style="width: 20rem;">
                <div class="col-md-3 col-sm-3 col-3">
                  <img src="./assets/images/avatars/avatar-01.svg" class="user user-chip-xxlg bg-default"
                    alt="user-image">
                </div>
                <div class="col-md-9 col-sm-9 col-9">
                  <div class="py-3 ps-3">
                    <div>
                      <h6 class="text-dark p-0 m-0 text-capitalize"><strong>Alonso Nava</strong></h6>
                    </div>
                    <div>
                      <small class="text-dark text-capitalize">Software developer</small>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item-user icon-center">
                  <i class="bi bi-person-circle fs-5 text-primary"></i> <span class="ms-4">My Profile</span>
                </li>
                <li class="list-group-item-user icon-center">
                  <i class="bi bi-bag-heart-fill fs-5 text-info"></i> <span class="ms-4">Subscriptions</span>
                </li>
                <li class="list-group-item-user icon-center" >
                  <i class="bi bi-box-arrow-right fs-5 text-danger"></i> <span class="ms-4">Sign out</span>
                </li>
              </ul>
            </div>
          </li>

          <!-- Not registred -->
          <button type="button" class="btn btn-login btn-outline-primary">Log in</button>

        </ul>
      </ul>
    </div>
    <!-- End >> Navbar items -->
  </div>
</nav>
<!-- End >> Navbar -->

<!-- Codemono Landing Page - Start-->

<!-- section 1 -->
<div class="bg-app">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="row py-5">
                  <div class="col-md-7 d-flex align-items-center">
                      <div class="d-block text-center text-md-start">
                          <div>
                              <h1 class="fw-bold title">Welcome to the professional world of programming</h1>
                              <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipiscing elit nisi aptent,
                                  habitasse ligula rutrum dictumst libero sapien pretium.
                              </p>
                          </div>

                          <div>
                              <button type="button" class="btn btn-primary shadow">Buy now</button>
                              <button type="button" class="btn btn-outline-primary ms-5">Download</button>
                          </div>
                      </div>

                  </div>
                  <div class="col-md-5 text-right">
                      <img src="assets/images/illustrations/start.svg" style="width: 100%;" alt="welcome">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- section 2 -->
<div class="container py-5">
  <div class="row mt-5">
      <div class="col-sm-12 text-center">
          <h2 class="fw-bold">How can we help business?</h2>
          <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipiscing elit nisi aptent,
              habitasse
              ligula rutrum dictumst libero sapien pretium.
          </p>
      </div>
  </div>

  <div class="row mt-5 mb-5">
      <div class="col-sm-12 col-md-4 text-center">
          <div class="card">
              <div class="m-auto ghost-success rounded-circle img-lg icon-services">
                  <i class="bi bi-binoculars fs-1 text-success"></i>
              </div>
              <div class="card-body">
                  <h5 class="card-title">Find what you need</h5>
                  <p class="card-text">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat
                      accusamus ut asperiores labore quam corrupti blanditiis voluptate
                      laborum ex culpa adipisci dicta minus, in rem tempore iste a, eius
                      sit.
                  </p>
              </div>
          </div>
      </div>

      <div class="col-sm-12 col-md-4 text-center">
          <div class="card">
              <div class="m-auto ghost-primary rounded-circle img-lg icon-services">
                  <i class="bi bi-gear fs-1 text-primary"></i>
              </div>
              <div class="card-body">
                  <h5 class="card-title">Work out the details</h5>
                  <p class="card-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
                      sunt
                      voluptas beatae ipsam, saepe voluptate laborum laboriosam ex,
                      similique
                      dolor a amet quae, fuga nisi! Consectetur amet laboriosam
                      perspiciatis
                      fugit.
                  </p>
              </div>
          </div>
      </div>

      <div class="col-sm-12 col-md-4 text-center">
          <div class="card">
              <div class="m-auto ghost-warning rounded-circle img-lg icon-services">
                  <i class="bi bi-lightning-charge fs-1 text-warning"></i>
              </div>
              <div class="card-body">
                  <h5 class="card-title">We get to work fast</h5>
                  <p class="card-text">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo sed,
                      quos ad nobis officiis architecto numquam quae praesentium eius tempore
                      veritatis nam accusantium incidunt libero laborum dolor laboriosam rerum
                      velit!
                  </p>

              </div>

          </div>
      </div>
  </div>
</div>

<!-- section 3 -->
<div class="bg-app">
  <div class="container py-5">
      <div class="row py-5">
          <div class="col-sm-12 text-center">
              <div>
                  <h2 class="fw-bold"> Purpose of a lider is to keep your team </h2>
                  <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipiscing elit nisi aptent,
                      habitasse
                      ligula rutrum dictumst libero sapien pretium.
                  </p>
              </div>

              <div class="mt-5">
                  <button type="button" class="btn btn-primary">Buy now</button>
                  <button type="button" class="btn btn-outline-primary ms-5">Download</button>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- section 4 -->
<div class="container py-5">
  <div class="row">
      <div class="col-md-6">
          <img class="img-customer" src="assets/images/illustrations/customers.svg" alt="">
      </div>

      <div class="col-md-6">
          <div class="card w-100 bg-transparent border-0">
              <div class="card-body text-center text-md-start">
                  <h3 class="fw-bold">Great Customers <br> relationship start here</h3>
                  <p class="body-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod a ullam dicta soluta doloribus,
                      earum laborum inventore explicabo provident quam harum numquam asperiores amet suscipit animi
                      quae eum voluptatum quibusdam!
                  </p>
                  <div>
                      <a href="#" class="text-primary">Read more about publishing</a>
                      <button class="btn btn-icon ghost-primary ms-2" aria-label="Settings">
                          <i class="bi bi-arrow-right"></i>
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- section 5 -->
<div class="bg-app">

  <div class="container py-5">
      <div class="row">
          <div class="col-12 mt-4 text-center">
              <h2 class="fw-bold">What our happy clients say</h2>
              <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
      </div>

      <div class="row mt-4">
          <div class="col-12 col-sm-4 col-md-4 col-lg-4">
              <div class="card shadow mt-4 mt-sm-0">
                  <div class="pt-3 m-auto">
                      <img src="/assets/images/avatars/avatar-03.svg" class="avatar-md circle m-auto" alt="...">
                  </div>
                  <div class="card-body text-center pt-0">
                      <div class="py-2 star-pulse">
                          <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                          <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                          <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                          <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                          <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                      </div>
                      <h5 class="card-title font-weight-bold">John Doe</h5>
                      <p class="card-text">
                          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita labore quas eos doloribus
                          nisi asperiores qui rerum facilis tempora cupiditate non est natus placeat repellendus
                          impedit
                          nemo ipsam, beatae doloremque!
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-4 col-md-4 col-lg-4">
              <div class="card shadow mt-4 mt-sm-0">
                  <div class="pt-3 m-auto">
                      <img src="/assets/images/avatars/avatar-04.svg" class="avatar-md circle m-auto" alt="...">
                  </div>
                  <div class="card-body text-center pt-0">
                      <div class="py-2 star-pulse-2">
                          <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                          <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                          <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                          <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                          <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                      </div>
                      <h5 class="card-title font-weight-bold">Ania Ayala</h5>
                      <p class="card-text">
                          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo perferendis quo natus sequi
                          maxime est illo corrupti, placeat, omnis libero, ratione quae dolorum perspiciatis facilis
                          harum
                          dolor porro accusantium minima!
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-4 col-md-4 col-lg-4">
              <div class="card shadow mt-4 mt-sm-0">
                  <div class="pt-3 m-auto">
                      <img src="/assets/images/avatars/avatar-05.svg" class="avatar-md circle" alt="...">
                  </div>
                  <div class="card-body text-center pt-0">
                      <div class="py-2 star-pulse-3">
                          <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                          <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                          <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                          <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                          <i class="bi bi-star-fill mx-1 fs-5 text-warning"></i>
                      </div>
                      <h5 class="card-title font-weight-bold">Rowhan Smith</h5>
                      <p class="card-text">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime eius nesciunt quod quaerat
                          odio
                          saepe doloremque blanditiis exercitationem neque reiciendis necessitatibus quibusdam nihil
                          vero
                          ex, sapiente cum sint, aperiam voluptates.
                      </p>
                  </div>
              </div>
          </div>

          <div class="col-md-12 text-center mt-5 mb-5">

              <button type="button" class="btn btn-icon btn-light me-2 shadow">
                  <i class="bi bi-arrow-left-short fs-4"></i>
              </button>

              <button type="button" class="btn btn-icon btn-primary ms-2 shadow">
                  <i class="bi bi-arrow-right-short fs-4"></i>
              </button>

          </div>

      </div>
  </div>
</div>

<!-- section 6 -->
<div class="container py-5">
  <div class="row py-5">
      <div class="col-sm-12">
          <div class="card p-4 gradient shadow">
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-12 col-md-6">
                          <h3 class="fw-bold text-light">Subscribe Newsletter</h3>
                          <p class="card-text text-light">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
                              sunt
                              voluptas beatae ipsam, saepe voluptate laborum laboriosam ex,
                              similique
                              dolor a amet quae, fuga nisi! Consectetur amet laboriosam
                              perspiciatis
                              fugit.
                          </p>
                      </div>

                      <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-end">
                          <div class="flex-container">
                              <div class="flex-items">
                                  <div class="input-group">
                                      <div class="input-icon input-icon-left">
                                          <span>
                                              <i class="bi bi-envelope"></i>
                                          </span>
                                          <input type="email" class="form-control" name="email" style="height: 4rem;">
                                      </div>
                                  </div>
                              </div>
                              <div class="flex-items">
                                  <button type="button" class="btn btn-light ms-3 shadow">Subscribe</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted shadow">
  <!-- Section: Social media -->
  <section class="container d-flex justify-content-center justify-content-lg-between py-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
      </div>

      <div>
          <a href="" class="me-4">
              <i class="bi bi-facebook"></i>
          </a>
          <a href="" class="me-4">
              <i class="bi bi-twitter"></i>
          </a>
          <a href="" class="me-4">
              <i class="bi bi-google"></i>
          </a>
          <a href="" class="me-4">
              <i class="bi bi-instagram"></i>
          </a>
          <a href="" class="me-4">
              <i class="bi bi-linkedin"></i>
          </a>
          <a href="" class="me-4">
              <i class="bi bi-github"></i>
          </a>
      </div>
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section>
      <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                  <!-- Content -->
                  <h6 class="text-uppercase fw-bold mb-4">
                      <i class="bi bi-building"></i> Company Name
                  </h6>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, sunt quibusdam mollitia at
                      accusamus omnis nostrum voluptatibus officiis non voluptates sed odit autem tempore saepe
                      voluptas ab ipsam, quidem similique.
                  </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4">
                      Products
                  </h6>
                  <p>
                      <a href="#!" class="">Angular</a>
                  </p>
                  <p>
                      <a href="#!" class="">React</a>
                  </p>
                  <p>
                      <a href="#!" class="">Vue</a>
                  </p>
                  <p>
                      <a href="#!" class="">Laravel</a>
                  </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4">
                      Useful links
                  </h6>
                  <p>
                      <a href="#!" class="">Pricing</a>
                  </p>
                  <p>
                      <a href="#!" class="">Settings</a>
                  </p>
                  <p>
                      <a href="#!" class="">Orders</a>
                  </p>
                  <p>
                      <a href="#!" class="">Help</a>
                  </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4">
                      Contact
                  </h6>
                  <p>
                      <i class="bi bi-house-door"></i>
                      Mexico City, NL 10012, MX
                  </p>
                  <p>
                      <i class="bi bi-envelope"></i>
                      info@example.com
                  </p>
                  <p><i class="bi bi-phone"></i> + 01 234 567 88</p>
                  <p><i class="bi bi-phone"></i> + 01 234 567 89</p>
              </div>
              <!-- Grid column -->
          </div>
          <!-- Grid row -->
      </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4">
      © 2021 Copyright:
      <a class=" fw-bold" href="https://codemono.io/">CodeMono</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
